// Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap");
// Variables -- this is where you defined the variables
//              BEFORE importing bootstrap which will use it's
//              defaults if the variable is not predefined.
@import "./utils/variables_bootstrap";
// Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";
// @import "../node_modules/bootstrap-select/sass/bootstrap-select.scss";
@import "./utils/variables";

// .search-section input {
//   padding-top: 1.333rem;
//   padding-bottom: 1.333rem;
// }

header {
  & a {
    &:hover {
      color: #d04f4f;
    }
  }
}

article {
  width: 100%;
  height: 20.22rem;

  // padding-bottom: 20px;
}

article .card-img-top {
  height: 9.88rem;
}

article .card-body {
  height: 9.5rem; // 20.22rem - 9.88rem - 15px (bottom margin = 0.94rem)
}

// .card-body {
// padding: 0 20px;
// padding-left: 20px;
// padding-right: 20px;
// padding: 0;
// height: 186px;
// }

.card-body__title-time {
  padding: 1.111rem;
  // padding-top: 20px;
  // padding-bottom: 20px;
  // margin-left: 20px;
  // margin-right: 20px;
  // margin: 0 20px;
}

.card-body__ingredients-instructions {
  padding: 0 1rem 0.833rem 1.111rem;
  // margin-bottom: 20px;
}

.card-body__recipe__instructions p {
  font-family: "Roboto", sans-serif;
  // height: 6rem;
}

// .card-body__ingredients-instructions > div {
// height: 5.7rem;
// }

// .card-body__time p {
//   margin-left: 0.39rem;
// }

.ratio-16x9 {
  //   @include media-breakpoint-up(md) {
  //     --bs-aspect-ratio: 50%; // 2x1
  //   }
  --bs-aspect-ratio: 46.8%; // 178x380
}

.filters-applied-container {
  margin: 1.389rem 0 0 0;
}

.filters-search-container {
  margin: 0.833rem 0 1.389rem;

  & button {
    width: 9.445rem;
    margin-right: 1.11rem;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown {
  & button {
    &.hidden {
      display: none;
    }
  }

  & .dropdown-menu {
    & .dropdown-search-container {
      margin-top: 0.5rem;
      padding-right: 30px;

      & input {
        background-color: inherit;
        color: inherit;
        border: none;
        padding: 1.22rem 0;

        &:focus-visible {
          outline: none;
        }

        &::placeholder {
          color: inherit;
          opacity: 0.5;
        }
      }
    }

    & .dropdown-filters {
      height: 18.4rem;

      &.multicol3 {
        width: 37.06rem;

        & .dropdown-item {
          width: 12.2rem;
          margin: 0;
          color: white;
          padding-top: 0.278rem;
          padding-bottom: 0.278rem;
        }
      }
    }

    &.show {
      display: flex;
      flex-direction: column;
    }
  }

  &.margin-left-multicol3 {
    margin-left: 27.61rem;
  }
}

.ingredients-dropdown {
  & .dropdown-menu {
    background-color: $secondary;
  }
}

.appareils-dropdown {
  & .dropdown-menu {
    background-color: $success;
  }
}

.ustensils-dropdown {
  & .dropdown-menu {
    background-color: $danger;
  }
}
