@import "./utils/variables_bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./utils/variables";

div.card {
  width: 100%;
  height: 364px;
}

div.card img {
  min-height: 178px;
}

.ratio-16x9 {
  //   @include media-breakpoint-up(md) {
  //     --bs-aspect-ratio: 50%; // 2x1
  //   }
  --bs-aspect-ratio: 46.8%; // 178x380
}
