.tags-container {
  column-gap: 0.56rem;
  row-gap: 0.56rem;

  & button {
    padding: 0 1.22rem 0 1.11rem;
    height: 2.056rem;
    font-size: 0.777rem;

    & span {
      width: 1.11rem;
      height: 1.11rem;
      display: inline-flex;
      border: 2.3px solid white;
      border-radius: 50%;

      justify-content: center;
      align-items: center;

      margin-left: 0.72rem;
      pointer-events: all;

      &:hover {
        cursor: pointer;
        color: inherit;
      }
    }
  }
}
